.__home_container{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
    user-select: none;
}

.__home_restBody{
    height: 100%;
    width: 100%;
    animation-name: fade1;
    animation-duration: .7s;
}

@keyframes fade1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.__home_welcomeMessage{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
    position: absolute;
    top: 0;
    padding-left: 30px;
    flex-direction: column;
    padding-right: 30px;
}

.__home_restIcons{
    height: calc(100vh - 330px);
    width: 100%;
    margin-top: 260px !important;
    display: flex;
    background-color: rgb(250, 250, 250);
    align-items: center;
    justify-content: space-evenly;
    min-height: 370px;
    max-height: 400px;
    flex-wrap: wrap;
    margin-top: 200px;
}


.__home_iconImg, .__home_iconImg2{
    height: 55%;
    margin-bottom: 5px;
    aspect-ratio: 1;
}
.__home_iconImg2{
    margin-left: 10px;
}
.__home_icons{
    width: 42%;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;margin: 10px;
    justify-content: center;
    user-select: none;
    flex-direction: column;
    box-shadow: 10px 10px 19px -20px rgba(0,0,0,0.75);
    background: white;
    font-size: 16px;
}

.__home_icons:active{
    background-color: rgb(245, 245, 245);
    opacity: .8;
    transition-duration: .2s;
}
@media screen and (max-width:370px) {
    .__home_icons{
        width: 45%;
        margin: 0;
    }
}