.__today_container{
    height: 60px;
    width: 100%;
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    font-weight: 500;
    z-index:3;
    position: fixed;
    top: 0;
}

.__today_backBtn{
    height: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: absolute;
    left: 20px;
}

.__today_backBtn:active{
    background: rgb(50, 50, 50);
    transition-duration: .2s;
}


.__maintain_late{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.__maintain_lateImg{
    width: 60%;
    aspect-ratio: 1;
}

.__maintain_lateText{
    font-size: 19px;
    color:#222;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    margin-top: 10px;
}