.__class_container{
    width: 95%;
    margin-left: 2.5%;
    overflow-x: hidden;
}

.__class_addSt{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -50px;
    align-items: center;
}