.__overall_container{
    min-height: 100vh;
    width: 100%;
    user-select: none;
    height: auto;
}

.__overall_selectContainer{
    height: 150px;
    width: 90%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    justify-content: space-evenly;
    flex-direction: column;
}
.__overall_select{
    box-shadow: 1px 1px 3px rgb(200, 200, 200);
}
.__overall_val{
    width: 90%;
    height: 60vh;
    border-radius: 0px;
}

.__overall_report{
    height: 200px;
    width: 85%;
    background:#fff;
    margin-top: 30px;
    border-radius: 5px;
    margin-left: 7.5%;
    box-shadow: 1px 1px 4px rgb(200, 200, 200);
}
.__overall_reportHead{
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    padding-top: 15px;
    display: flex;
    margin-bottom: 5px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.__overall_reportText{
    font-size: 21px;
    width: 100%;
    margin-top: 20px;
    padding-left: 30px;
    font-weight: 400;
}

.__overall_detailed{
    height: auto;
    width: 93%;
    background:#fff;
    margin-top: 60px;
    border-radius: 5px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3.5%;
    box-shadow: 1px 1px 4px rgb(200, 200, 200);
    min-height: 500px;
}

.__overall_clickEffect:active{
    background: rgb(240, 240, 240);
    transition-duration: .2s;
}