.__login__container{
    height: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background: rgb(240, 240, 240);
}

.__login_loginForm{
    max-width: 380px;
    width: 92%;
    box-shadow: 25px 20px 75px -28px rgba(0,0,0,0.5);
    height: 470px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.__login_head{
    height: 70px;
    width: 100%;
    background: #fff;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.__login_icon{
    height: 70px;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 23px -16px rgba(0,0,0,0.75);
}
.__login_restForm{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.__login__title{
    font-size: 39px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.__login__inputGroup{
    height: 90px;
    display: flex;
    width: 100%;
    padding-left: 30px;
    padding-right: 35px;
    flex-direction: column;
    margin: 10px;
}